allure-pytest==2.8.18
allure-python-commons==2.8.18
altgraph==0.17
atomicwrites==1.4.0
attrs==20.2.0
cachetools==4.1.1
colorama==0.4.4
future==0.18.2
iniconfig==1.1.1
namedlist==1.8
packaging==20.4
pefile==2019.4.18
pluggy==0.13.1
ply==3.11
py==1.9.0
py2exe==0.10.0.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pyparsing==2.4.7
pytest==6.1.1
pywin32-ctypes==0.2.0
selenium==3.141.0
selenium-pages==0.1.0a0
six==1.15.0
toml==0.10.1
toml-ply==0.0.5
urllib3==1.25.11
